<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite1">
 <!-- <listeners>
    <listener class-name="testUtils.CustomListeners"/>
  </listeners> -->
  <test name="My Test1">
    <classes>
      <!-- <class name="org.demo.selenium.test.MercuryTest"/> -->
       <class name="cucumberOptions.TestRunner"></class>
    </classes>
  </test> <!-- My Test -->
</suite> <!-- My Suite -->